.animal-list h1 {
  margin-block-start: 0.5em;
  background-color: palevioletred;
}

.animal-list table {
  margin: 0.5em auto 0;
}

.animal-list table,
td {
  border: 1px solid black;
}

.animal-list table td {
  padding: 0.5em;
  background-color: pink;
}

.animal-list td a {
  text-decoration: underline;
  color: blue;
}