.book-preview {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: .5em;
  font-weight: bold;
  text-align: center;
  height: 100%;
  width: 100%;
  border-radius: .5em;
  background-color: white;
}

.book-image-container {
  width: 160px;
  width: 100%;
  height: 240px;
  overflow: hidden;
  /* margin-inline: auto; */
  /* margin-bottom: 1em; */
  border-radius: 4px;
}

.book-image-container img {
  width: 100%;
  height: 100%;

  object-fit: cover;
  transition: transform 0.3s;
}

.book-image-container img:hover {
  transform: scale(1.05);
}

.sale {
  color: red;
  font-weight: bold;
}

.sale-sign {
  background-color: red;
  color: white;
  padding: 2px 5px;
  border-radius: 4px;
  font-size: 0.8em;
  margin-top: 1em;
}

.book-preview {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.book-preview-content {
  flex-grow: 1;
  padding-block: 1em;
}

.book-preview .details-btn {
  width: 100%;
  padding: 0.2em 1em;
  margin-top: .5em;
  border: none;
  background-color: #4a5568;
  cursor: pointer;
  font-weight: bold;
  border-radius: 4px;
  transition: background-color 0.2s;
}

.book-preview .details-btn:hover {
  background-color: #dee2e6;
}