.season-clock {
  margin-block-start: .5em;
}

.season-container {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 200px;
  margin: auto;
  padding: .5em;
  color: #000;
  background-color: lightblue;

  cursor: pointer;
}

.dark {
  color: #fff;
  background-color: darkblue;
}